<h2 class="page-header">搜索作者</h2>
<form action="/authors" method="GET">
    <div class="from-row">
        <div class="form-item">
        <label for="">名字</label>
        <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">搜索</button>
    </div>
    </div>
</form>
<% authors.forEach(author => { %>
    <div class="author-row">
        <div class="author-name"><%= author.name %></div>
        <div class="btn-row">
            <a class="btn btn-primary" href="/authors/<%= author.id %>">查看作者</a>
            <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">编辑作者信息</a>
            <%- include('../partials/deleteForm', {url: `/authors/${ author.id }`}) %>
        </div>
    </div>
<% }) %>