<h2 class="page-header"><%= book.title %></h2>
<div class="book-details">
    <div>
        <img class="book-cover" src="<%= book.coverImagePath %>" alt="">
        <div class="book-btn-grid">
            <a class="btn btn-primary" href="/books/<%= book.id %>/edit">编辑</a>
            <%- include('../partials/deleteForm', {url: `/books/${book.id}`})%>
            <a class="btn btn-primary btn-check" href="/authors/<%= book.author.id %>">查看作者</a>
        </div>
    </div>
    <div class="book-details-grid">
        <div class="book-details-label">作者</div>
        <div><%= book.author.name %></div>
        <div class="book-details-label">发表日期</div>
        <div><%= book.publishDate.toDateString() %></div>
        <div class="book-details-label">页数</div>
        <div><%= book.pageCount %></div>
        <div class="book-details-label">简介</div>
        <div><%= book.description %></div>
    </div>  
</div>